import sys, getopt

def usage():
    print "Usage:"
    print "wlst.sh start.wlst [-u username] [-c credential] [-h host] [-o port] [-n nm type] [-n domain name] [-d domain path] "

#====== Main program ===============================
try:
    opts, args = getopt.getopt( sys.argv[1:], "u:c:h:o:n:d:t:", ["username","password","nm_host","nm_port","domain_name","domain_path","nm_type"] )
except getopt.GetoptError, err:
    print str(err)
    usage()
    sys.exit(2)

#===== Handling get options  ===============
for opt, arg in opts:
    if opt == "-u":
        username = arg
    if opt == "-c":
        password = arg
    if opt == "-h":
        nm_host = arg
    if opt == "-o":
        nm_port = arg
    if opt == "-n":
        domain_name = arg
    if opt == "-d":
        domain_path = arg
    if opt == "-t":
        nm_type = arg

startNodeManager(block='true',
                 timeout=30000,
                 ListenAddress="",
                 SecureListener="false",
                 host=nm_host,
                 port=nm_port,
                 username=username,
                 password=password,
                 domainName=domain_name,
                 domainDir=domain_path,
                 NodeManagerHome="%s/nodemanager" % domain_path,
                 nmConnectOptions="nmType=%s" % nm_type,
                 nmType=nm_type,
                 StartScriptEnable="false"
                 )
