DomainsFile={{ domain.nodemanager.home }}/nodemanager.domains
LogLimit=0
PropertiesVersion={{ weblogic.version }}
AuthenticationEnabled=true
NodeManagerHome={{ domain.path }}/{{ domain.name }}/nodemanager
JavaHome=/usr/java/default/
LogLevel=INFO
DomainsFileEnabled=true
ListenAddress={{ domain.nodemanager.address | default('') }}
NativeVersionEnabled=true
ListenPort={{ domain.nodemanager.port }}
LogToStderr=true
weblogic.StartScriptName=startWebLogic.sh
SecureListener={{ domain.nodemanager.type | default('plain') }}
LogCount=1
QuitEnabled=true
LogAppend=true
weblogic.StopScriptEnabled=false
StateCheckInterval=500
CrashRecoveryEnabled=false
weblogic.StartScriptEnabled=true
LogFile={{ domain.path }}/{{ domain.name }}/nodemanager/nodemanager.log
LogFormatter=weblogic.nodemanager.server.LogFormatter
ListenBacklog=50
