DomainsFile={{ nodemanager.home }}/nodemanager.domains
LogLimit=0
PropertiesVersion={{ weblogic.version }}
AuthenticationEnabled=true
NodeManagerHome={{ nodemanager.home }}
JavaHome=/usr/java/default/
LogLevel=INFO
DomainsFileEnabled=true
ListenAddress={{ nodemanager.address | default('') }}
NativeVersionEnabled=true
ListenPort={{ nodemanager.port }}
LogToStderr=true
weblogic.StartScriptName=startWebLogic.sh
SecureListener={{ nodemanager.type | default('plain') }}
LogCount=1
QuitEnabled=true
LogAppend=true
weblogic.StopScriptEnabled=false
StateCheckInterval=500
CrashRecoveryEnabled=false
weblogic.StartScriptEnabled=true
LogFile={{ nodemanager.home }}/nodemanager.log
LogFormatter=weblogic.nodemanager.server.LogFormatter
ListenBacklog=50
