[Unit]
Description=Node Manager Service
After=network.target

[Service]
User=oracle
Group=oinstall
ExecStart={{ domain.path }}/{{ domain.name }}/bin/startNodeManager.sh

[Install]
WantedBy=multi-user.target
